[run]
branch = True
source =
    talento_backend_v2
    talento_core
    ccp_vpm
omit =
    */migrations/*
    */management/commands/*
    */tests/*
    */__init__.py
    */settings*.py
    manage.py
    */wsgi.py
    */asgi.py
    */urls.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":
fail_under = 60
show_missing = True
precision = 1
skip_covered = True
