DJANGO_DEBUG=1
BIND_HOST=127.0.0.1
BIND_PORT=8000
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
PANEL_ORIENTADOR_TOKEN=mi-token-local
DB_ENGINE=sqlite
